*{
    padding: 0;
    margin: 0;
    background-color: #e66f83fa;
}

#titulo{
    text-align: center;
    color: white;
    font-size: 9vw;
    margin-top: 2;
}

#cuteImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button-container{
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #FFB6C1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;

}

.btn:hover {
    background-color:  #ff8e9f;
}

#btnNao{
    position: relative;
}